body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  /* background-image: linear-gradient(to right bottom, #a52a2a, #e49ab0),
    linear-gradient(transparent, #e49ab0 80%); */
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: linear-gradient(
    to bottom,
    #10151b,
    #13181f,
    #151b23,
    #171e27,
    #19212b
  );
}

.main {
  /* background: #f8f8ff; */
  display: flex;
  flex-direction: column;
  padding-top: 6%;
  background: transparent;
}

.navbar {
  background: #13181f;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  opacity: 96%;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 0.5% 0 0.5% 3% !important;
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
  height: 7%;
}

.navbar-nav {
  margin-left: auto !important;
}

.material-icons {
  color: #dcdcdc;
  font-size: 3vh;
}

.searchForm {
  /* background-color: #080507 !important; */
  /* border: 1px solid black !important; */
  width: 12vw !important;
  height: 4.1vh !important;
  font-size: 2vh !important;
}

.searchForm::placeholder {
  font-size: 2vh !important;
}

.nav-link {
  color: #dcdcdc;
  font-size: 2vh;
}

.navbar-brand {
  color: #dcdcdc;
  font-family: "montserratBold", sans-serif;
  font-size: 2vh;
}

.titleRow {
  padding-top: 2%;
  padding-left: 1.8%;
  padding-bottom: 0.4%;
  font-size: 3.2vh;
  font-family: "montserratBold", sans-serif;
  color: #dcdcdc !important;
}

.slide .desc {
  font-family: "Source Serif Pro", serif;
  font-size: 15px;
  color: #000000 !important;
  padding: 1%;
  text-align: center;
}
.slide .display {
  width: 100%;
  height: 260px;
}

.display:hover img,
.display:focus img {
  position: relative;
  z-index: 1;
  transform: scale(1.1);
}

.slide {
  margin: 0 auto 30px;
}

#sliderImg {
  position: relative;
  padding: 3px;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
  filter: brightness(130%);
}

.btnOne {
  bottom: 0;
}

.slick-prev {
  left: -20px !important;
}

.slick-next {
  right: -22px !important;
}

.slick-slider {
  width: 97%;
}

@font-face {
  font-family: "montserrat";
  src: url("../Fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "montserratBold";
  src: url("../Fonts/Montserrat-SemiBold.ttf") format("truetype");
}
