body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: linear-gradient(
    to bottom,
    #10151b,
    #13181f,
    #151b23,
    #171e27,
    #19212b
  );
}

.main {
  /* background: #f8f8ff; */
  display: flex;
  flex-direction: column;
  padding-top: 6%;
  background: transparent;
}

.titleRow {
  padding-top: 2%;
  padding-left: 1.6%;
  padding-bottom: 1%;
  font-size: 3.2vh;
  font-family: "montserratBold", sans-serif;
  color: #dcdcdc !important;
}

.slide .desc {
  font-family: "Source Serif Pro", serif;
  font-size: 15px;
  color: #000000 !important;
  padding: 1%;
  text-align: center;
}
.slide .display {
  width: 100% !important;
  height: 250px;
}

.display:hover img,
.display:focus img {
  position: relative;
  z-index: 1;
  transform: scale(1.1);
}

.slide {
  margin: 0 auto 30px;
}
.slick-list {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}
#sliderImg {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
  filter: brightness(130%);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.btnOne {
  bottom: 0;
}

.slick-prev {
  left: -10px !important;
}

.slick-next {
  right: -10px !important;
}

.slick-dots li button {
  color: #dcdcdc !important;
}

.slick-dots li button:before {
  color: #dcdcdc !important;
}

@font-face {
  font-family: "montserrat";
  src: url("../Fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "montserratBold";
  src: url("../Fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@media (min-width: 0px) and (max-width: 400px) {
  .display {
    padding: 0px !important;
  }

  .titleRow {
    justify-content: center;
    font-size: 2vh;
  }
}

@media (max-width: 1025px) {
  .titleRow {
    font-size: 2vh;
  }
  .main{
    padding-top: 10% !important;
  }
}
