body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-image: linear-gradient(to right bottom, #a52a2a, #e49ab0),
    linear-gradient(transparent, #e49ab0 80%);
  margin-bottom: 0;
}

.main {
  /* background-color: #a52a2a; */
  /* background-image: radial-gradient(
    circle,
    #9b111e,
    #840033,
    #65073e,
    #42123e,
    #221333,
    #221333,
    #221333,
    #221333,
    #42123e,
    #65073e,
    #840033,
    #9b111e
  ); */
  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}

/* .nav .navlink {
  color: #a52a2a !important;
} */

.navbar {
  background-color: #000 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding: 0.5% 0 0.5% 3% !important;
  font-family: "frozitoFont", sans-serif;
}

.navbar-nav{
  margin-left: auto !important;
}

.material-icons{
  color: white
}

.searchForm{
  background-color: black !important;
  border: 1px solid black !important;
  /* height: 2em !important; */
}

.nav-link{
  color: white;
}

.navbar-brand{
  color: white;
}

.titleRow {
  padding-top: 2%;
  padding-left: 4.2%;
  padding-bottom: 1%;
  font-size: 4vh;
  font-family: "frozitoFont", sans-serif;
  color: black !important;
  
}

.slide .desc {
  font-family: "Source Serif Pro", serif;
  font-size: 15px;
  color: #000000 !important;
  padding: 1%;
  text-align: center;
}
.slide .display {
  display: inline-block;
  vertical-align: top;
}

.slide {
  margin: 0 auto 30px;
}

#sliderImg {
  position: relative;
  padding: 0px;
  border: 3px solid #000;
  display: block;
  margin: auto;
  width: 95%;
  height: 260px;
  cursor: pointer;
}

.btnOne {
  bottom: 0;
}

/* #searchBar {
  width: 80%;
  height: 20%;
  background-color: transparent;
  border: 1px solid #a52a2a !important;
}

#searchBar::placeholder {
  color: #a52a2a !important;
} */

/* #searchBar.form-control{
  color: #a52a2a !important;
} */

.slick-prev {
  left: -20px !important;
}

.slick-next {
  right: -22px !important;
}

.slick-slider {
  width: 95%;
}

@font-face {
  font-family: "frozitoFont";
  src: url("../Fonts/Frozito-eZ99g.ttf") format("truetype");
}

