#card {
height: 400px;
width: 750px;
background-color: #000;
align-content: center
}

#cardbody{
    color:  #A52A2A !important;
}

#cardImg{
height: 400px
}


.btnTwo{
    color:   #A52A2A   !important;
}