#card {
  height: 400px;
  width: 750px;
  background-color: #000;
  font-family: 'montserrat', sans-serif;
  margin: auto;
}

#cardbody {
  color: #a52a2a !important;
}

#cardImg {
  height: 400px;
}

.btnTwo {
  color: #a52a2a !important;
}
